h1 {
    color : blue;
}

h2 {
    color : rgb(0,255,0);
}

h3 {
    color : #8A2BE2;
}

h4 {
    color : rgba(255, 0, 0, 0.3);
}

h5 {
    color : hsl(120, 60%, 70%);
}

h6 {
    color : hsla(200, 100%, 75%, 0.3)
}